/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

body {
  background-color: #0f0f0f;
}

button {
  border: 1px solid #ffffff;
  cursor: pointer;
}

.counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 42rem;
  height: 100vh;
  margin: 0 auto;
}

.counter-ui {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/* Settings */

.settings-container {
  display: flex;
  gap: 10px;
}

#settings-toggle {
  content: url(../assets/settings.svg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes reversespin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-180deg);
  }
}

.settings-span {
  display: inline-block;
  width: 45px;
  height: 45px;
  transform-origin: center;
  transition: 0.2s ease transform, 0.2s ease filter;
  cursor: pointer;
}

.settings-span:hover {
  transform: scale(0.95);
  filter: brightness(90%);
}

.settings-span:active {
  transform: scale(0.9);
  filter: brightness(85%);
}

.theme-panel {
  display: none;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.active {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

@keyframes open {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes close {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

#anchor-color {
  background-color: #3e424b;
}

#black-color {
  background-color: #000000;
}

#blue-color {
  background-color: #0018f9;
}

#brown-color {
  background-color: #7c4700;
}

#bumblebee-color {
  background-color: #fcd12a;
}

#eggplant-color {
  background-color: #311432;
}

#green-color {
  background-color: #3bb143;
}

#grey-color {
  background-color: #828282;
}

#pink-color {
  background-color: #fc0fc0;
}

#red-color {
  background-color: #d30000;
}

#sacramento-color {
  background-color: #043927;
}

#violet-color {
  background-color: #b200ed;
}

.color-option {
  flex-shrink: 0;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transition: 0.2s ease transform, 0.2s ease filter;
  cursor: pointer;
}

.color-option:hover {
  transform: scale(0.9);
  filter: brightness(90%);
}

.color-option:active {
  transform: scale(0.8);
  filter: brightness(85%);
}

/* Incrementor Tool */

#counter-reset {
  content: url(../assets/reset.svg);
}

.counter-controls {
  display: flex;
  flex-wrap: wrap;
}

.counter-display {
  order: -1;
  align-content: center;
  width: 100%;
  height: 30vh;
  padding: 13px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  color: #3e424b;
}

#counter-increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#counter-decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.counter-button {
  width: 50%;
  height: 64vh;
  padding: 1rem;
  background-color: #3e424b;
  font-size: 45px;
  color: #ffffff;
  transition: 0.2s ease filter;
}

.counter-button:hover {
  filter: brightness(90%);
}

.counter-button:active {
  filter: brightness(85%);
}

/* RWD */

@media (min-width: 1024px) {
  button {
    border: none;
  }

  .settings-span {
    width: 30px;
    height: 30px;
  }

  .active {
    overflow-x: hidden;
  }

  .color-option {
    flex-shrink: initial;
    width: 40px;
    height: 20px;
  }

  .counter-controls {
    flex-wrap: nowrap;
  }

  .counter-display {
    order: 0;
    height: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 30px;
  }

  #counter-increment {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #counter-decrement {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .counter-button {
    width: auto;
    height: auto;
    font-size: 30px;
  }
}
